# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock

# Firebase and local secrets
.firebaserc
firebase.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# Android keystore and signing properties
android/key.properties
android/*.jks

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
